<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/pokeCard.css" />
    <title>Index of Pokemon</title>
  </head>
  <body>
    <div class="cardBorder">
      <div class="Info"></div>
    </div>
    <a href="http://localhost:3003/pokemon/new"
      ><button>Add New Pokemon</button></a
    >
    <div class="container">
      <% for(let i = 0; i < data.length; i+=1){ %>
      <h2><%=data[i].name %></h2>
      <a href="http://localhost:3003/pokemon/<%=i %> "
        ><img src="<%=data[i].img %> " alt="Picture of <%=data[i].name %>"
      /></a>
      <% } %>
    </div>
  </body>
</html>
