<!DOCTYPE html>
<html>
  <body>
    <h1>Create New Pokemon</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <!-- This is how the form knows where to send the new data -->
    <form action="/pokemon" method="POST">
      Name: <input type="text" name="name" placeholder="Name" /><br />
      Image Address:
      <!-- <input type="file" name="img" accept="image/*" /><br /> -->
      <input type="text" name="img" /><br />
      Type(s):
      <input type="text" name="type[]" placeholder="Type(s)" /><br />
      <!-- I cannot figure out how to be able to have the user input more than one type without it going on the same line. I tried adding a for loop in between the brackets but I just get errors. -->
      HP: <input type="text" name="stats[hp]" placeholder="HP" /><br />
      Attack:
      <input type="text" name="stats[attack]" placeholder="Attack" /><br />
      Defense:
      <input type="text" name="stats[defense]" placeholder="Defense" /><br />
      <input type="submit" value="Add New Pokemon" />
    </form>
  </body>
</html>
